<div class="container">
  <h2>NFRDI DIGITAL REPOSITORY</h2>
  <p>
    The NFRDI as mandated by the RA. 8550 section 85b, is to “provide a venue for intensive training and development of
    human resources in the field of fisheries, a repository of all fisheries research and scientific information”. In
    fulfilling its mandate, the NFRDI has been continuously developing knowledge & information systems as well as
    digital repositories that will serve as the foundation for equitable access to information in the field of
    fisheries, aquatic science and related disciplines.
  </p>
  <p>
    In fulfilling its mandate, the Institute has developed the NFRDI Digital Repository. The Digital Repository is one of
    the Institute's official platforms in making its data objects and other valuable information assets, along those of
    its partner organizations and collaborating agencies available to the fisheries research community, and the Filipino
    public. Curated in this centralized repository are available resources that come in varying formats and mediums such
    as published research outputs, information posters, among others. The contained collections are processed and
    preserved for accessibility, retrieval and maximum utilization of intended and prospective audiences in the
    fisheries, aquatic and related disciplines. Through this platform along with its other library and information
    services initiatives, NFRDI shall be able to fulfill its mandate in becoming a repository of all fisheries research
    and scientific information, among other initiatives.
  </p>
  <h3>Vision, Mission, and Objectives</h3>
  <h4>Vision</h4>
  <p>The NFRDI Library Unit envisions itself to be a premier intellectual assets repository, information resources and
    services provide and an avenue for knowledge generation, discourse, exchange and scholarship among its diverse
    stakeholders.</p>
  <h4>Mission</h4>
  <p>The NFRDI Library Unit shall develop and preserve the intellectual outputs and institute’s knowledge base, deliver
    quality and responsive research and information services, and forge partnership and collaboration among other
    agencies geared towards a conducive environment for learning, research and innovation.</p>
  <h4>General Objectives</h4>
  <p>To fulfill its mission and realize its vision, the NFRDI Library Unit shall:</p>
  <ul>
    <li>Conduct intensive collection development and management strategies to become a reputable scientific information
      repository
    </li>
    <li>Develop and provide basic and advanced library, research and information services responsive to the needs of its
      stakeholders
    </li>
    <li>Integrate advanced Information and Communication technology to ensure efficient and effective delivery of its
      resources and services
    </li>
    <li>Develop a professional network among library and information professionals and other stakeholders to bolster the
      knowledgebase capacity of the Institute
    </li>
    <li>Capitalize on the tacit and explicit knowledge resources to develop and innovate the information capacity
      building and activities of the Institute
    </li>
  </ul>
</div>
