<footer class="text-lg-start">
  <div *ngIf="showTopFooter" class="top-footer">
    <!-- Grid container -->
    <div class=" container p-4">
      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="footer-links col-lg-4 col-md-6 mb-4 mb-lg-0">
          <span class="helper"></span>
          <img src="assets/unesco/images/un_ocean_decade.png"/>
        <!--  <h5 class="text-uppercase">About Us</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a routerLink="./" class="">About UNESCO</a>
            </li>
            <li>
              <a routerLink="./" class="">Philippine National Commission for UNESCO</a>
            </li>
            <li>
              <a routerLink="./" class="">DFA Secretary/PH NatCom Chairperson</a>
            </li>
            <li>
              <a routerLink="./" class="">Permanent Delegate to UNESCO</a>
            </li>
            <li>
              <a routerLink="./" class="">PH NatCom Secretary-General</a>
            </li>
          </ul> -->
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <h5 class="text-uppercase">UNESCO National Commission of the Philippines (UNACOM)</h5>
          <p>
            7<sup>th</sup> Floor, Department of Foreign Affairs, Double Dragon Tower, DD Meridian Park Avenue, EDSA Extension, Bay Area, Pasay City, Metro Manila 1302 Philippines<br/>
            <a href="mailto:secretariat@unesco.gov.ph">secretariat&#64;unesco.gov.ph</a><br/>+63 288343447
          </p>
          <p>
            <small>
              &#0169; {{ dateObj | date:'y' }}
              <a href="https://www.unesco.gov.ph" target="_blank">
                <acronym title="UNESCO National Commission of the Philippines">UNACOM</acronym>
              </a>
            </small>
          </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0 social-icons">
          <h5 class="text-uppercase">Social</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="https://www.facebook.com/p/UNESCO-Philippine-National-Commission-100069270967006" target="_blank"><i class="fab fa-facebook"></i></a>
            </li>
            <li>
              <a href="https://x.com/unesco_phnatcom" target="_blank"><i class="fab fa-x-twitter"></i></a>
            </li>
            <li>
              <a href="https://www.instagram.com/unesco_phnatcom" target="_blank"><i class="fab fa-instagram"></i></a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="bottom-footer p-1 d-flex justify-content-center align-items-center text-white">
    <div class="content-container">
      <!-- <p class="m-0">
        <a class="text-white"
           href="http://www.dspace.org/">{{ 'footer.link.dspace' | translate}}</a>
        {{ 'footer.copyright' | translate:{year: dateObj | date:'y'} }}
        <a class="text-white"
           href="https://www.lyrasis.org/">{{ 'footer.link.lyrasis' | translate}}</a>
      </p> -->
      <ul class="footer-info list-unstyled d-flex justify-content-center mb-0">
        <li>
          <button class="btn btn-link text-white" type="button" (click)="showCookieSettings()">
            {{ 'footer.link.cookies' | translate}}
          </button>
        </li>
        <li *ngIf="showPrivacyPolicy">
          <a class="btn text-white"
             routerLink="info/privacy">{{ 'footer.link.privacy-policy' | translate}}</a>
        </li>
        <li *ngIf="showEndUserAgreement">
          <a class="btn text-white"
             routerLink="info/end-user-agreement">{{ 'footer.link.end-user-agreement' | translate}}</a>
        </li>
        <li *ngIf="showSendFeedback$ | async">
          <a class="btn text-white"
             routerLink="info/feedback">{{ 'footer.link.feedback' | translate}}</a>
        </li>
      </ul>
    </div>
    <div *ngIf="coarLdnEnabled$ | async" class="notify-enabled text-white">
      <a class="coar-notify-support-route" routerLink="info/coar-notify-support">
        <img class="n-coar" src="assets/images/n-coar.svg" [attr.alt]="'menu.header.image.logo' | translate" />
        {{ 'footer.link.coar-notify-support' | translate }}
      </a>
    </div>
  </div>
  <!-- Copyright -->
</footer>
