:host {
  header {
    background-color: var(--ds-header-bg);
    box-shadow: 0 10px 6px #0000000a;
    z-index: 100;
    position: relative;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensure proper spacing between items */
    gap: calc(var(--bs-spacer) / 3);
  }

  .navbar-brand img {
    max-height: var(--ds-header-logo-height);
    max-width: 100%;
  }

  .wrapper {
    display: flex;
    align-items: center; /* Align logo and text in the same row */
  }

  .upv-logo-wrapper {
    display: flex;
    align-items: center;
  }

  .headerInfoNameText {
    margin-left: 50px; /* Slightly increased spacing to prevent overlap */
    white-space: nowrap; /* Prevent text from wrapping */
  }

  .headerInfoName,
  .headerInfoText {
    color: #7B1113;
    white-space: nowrap !important;
  }

  .headerInfoName {
    font-family: Marcellus;
    font-weight: bold;
  }

  .headerInfoText {
    font-family: "Open Sans";
    font-variant: small-caps;
    margin-top: -8px;
  }

  .headerInfoNameText .full-name {
    display: block;
    font-size: xx-large;
  }

  .headerInfoNameText .short-name {
    display: none; /* Default to hide */
    font-size: 1.5rem;
    font-weight: bold;
  }

  @media screen and (max-width: 768px) {
    .headerInfoNameText .full-name {
      display: none; /* Hide the full name on smaller screens */
    }

    .headerInfoNameText .short-name {
      display: inline; /* Show the short name instead */
      font-size: 1.5rem;
    }

    .headerInfoText {
      display: none; /* Hide additional text to save space */
    }
  }

  @media screen and (max-width: 576px) {
    .headerInfoNameText .short-name {
      font-size: 1.25rem;
    }
  }

  @media screen and (min-width: 769px) {
    .headerInfoNameText .short-name {
      display: none; /* Hide the short name on larger screens */
    }

    .headerInfoNameText .full-name {
      display: block; /* Show the full name on larger screens */
    }
  }

  span {
    display: block;
  }

  header .navbar-brand .upv-logo img {
    border-right: 1.5px solid #7B1113;
    padding-right: 5px;
    float: left;
  }

  header .navbar-brand .upv-dr-logo img {
    padding-left: 5px;
  }
}
