// Override or add CSS variables for your theme here

:root {
  --ds-header-logo-height: 50px;
  --ds-header-logo-height-xs: 40px;
  --ds-header-icon-color: #{$white};
  --ds-header-icon-color-hover: maroon;
  --ds-header-bg: #{$blue};
  --ds-breadcrumb-bg: #{$white} !important;
  --ds-thumbnail-max-width: 240px;
}
