<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="homePageText">
        <div class="d-flex flex-wrap">
          <div>
            <h1 class="display-3">Davao del Sur State College Institutional Repository</h1>
            <p class="lead">DSSC Institutional Repository is the official repository of the institution that enables staff and students to:</p>
          </div>
        </div>
        <ul>
          <li>easily ingest documents, audio, video, datasets and their corresponding Dublin Core
            metadata
          </li>
          <li>open up this content to local and global audiences, thanks to the OAI-PMH interface and
            Google Scholar optimizations
          </li>
          <li>issue permanent urls and trustworthy identifiers, including optional integrations with
            handle.net and DataCite DOI
          </li>
        </ul>
      </div>
    </div>
  </div>
  <picture class="background-image">
    <img alt="" [src]="'assets/dssc/images/dssc-library.jpg'"/><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
  </picture>
</div>
