<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="homePageText">
        <div class="d-flex flex-wrap">
          <div>
            <h1 class="display-3">Davao del Sur State College Institutional Repository</h1>
            <p class="lead">Objective:</p>
            <ul>
              <li>
                Promote and preserve the DSSC’s intellectual outputs on biocultural diversity from instruction,
                research, extension, and governance
              </li>
              <li>
                Connect and engage stakeholders and the global community through access, collaboration, and
                dissemination of DSSC’s scholarly and creative works
              </li>
            </ul>
            <p class="lead">Scholarly and Creative Works:</p>
            <ul>
              <li>Official Publications, Newsletters, and Annual Reports</li>
              <li>Faculty and Student Publications in Journals, Books, and Conference Proceedings</li>
              <li>Theses and Dissertations</li>
              <li>Research Journals, Abstracts, and Conference Proceedings</li>
              <li>Intellectual Properties (Inventions, Designs, Brand Names)</li>
              <li>Collaborative Research and Extention Projects and Reports</li>
              <li>Instructional Materials</li>
              <li>Brochures, Promotional Materials</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <picture class="background-image">
    <img alt="" [src]="'assets/dssc/images/dssc-library.jpg'"/><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
  </picture>
</div>
