<div class="container">
  <h1>{{ 'info.partners.title' | translate }}</h1>
  <p>As part of its commitment to fostering collaboration and enhancing access to resources and research opportunities,
    the NFRDI Library maintains partnerships and institutional memberships with the following associations:</p>
  <h2>Institutional Memberships</h2>
  <p class="clear"><img src="assets/nfrdi/images/iamslic.png"><a href="https://iamslic.wildapricot.org/" target="_blank">The International Association
    of Aquatic and Marine Science Libraries and Information Centers (IAMSLIC)</a> is an
    organization of librarians and information professionals involved in all aspects of aquatic and marine sciences and
    their allied disciplines. The association provides a forum to exchange and explore ideas and issues of mutual
    concern.</p>
  <p class="clear"><img src="assets/nfrdi/images/ASLP.jpg"><a href="https://www.facebook.com/aslp1954/" target="_blank">Association of Special
    Libraries of the Philippines (ASLP)</a> is a non-stock, non-profit organization composed of
    special librarians from government institutions, private sectors, business community and the academe.</p>
  <p class="clear"><img src="assets/nfrdi/images/nutrinet-logo.jpg"><a href="https://nutrinet.fnri.dost.gov.ph/" target="_blank">The Nutrition
    Research Information Network (NUTRINET)</a> is composed
    of institutions whose libraries link up to form a specialized information system in nutrition and related fields.
  </p>
</div>
