:host {
    display: block;
}

.display-3 {
    word-break: break-word;
}

.jumbotron {
  background-color: #0000;
}

.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
}

a {
  color: var(--ds-home-news-link-color);

  @include hover {
    color: var(--ds-home-news-link-hover-color);
  }
}

  div.background-image {
    color: white;
    position: relative;
    background: url('/assets/nfrdi/images/nfrdi-banner.png') 0;
    background-size: cover;
    background-position: top;

    .container {
      position: relative;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
      background-color: var(--ds-banner-text-background);

      &:before, &:after {
        content: '';
        display: block;
        width: var(--ds-banner-background-gradient-width);
        height: 100%;
        top: 0;
        position: absolute;
      }

      &:before {
        background: linear-gradient(to left, var(--ds-banner-text-background), transparent);
        left: calc(-1 * var(--ds-banner-background-gradient-width));

      }

      &:after {
        background: linear-gradient(to right, var(--ds-banner-text-background), transparent);
        right: calc(-1 * var(--ds-banner-background-gradient-width));
      }

      background-color: var(--ds-banner-text-background);
    }
  }

.spotlight {
  margin-top: 1em;
  padding: 1.5em 2em;
  background-color: #fff;
  color: #000;
}

h1.lead {
  font-family: Oswald, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2rem;
}
