<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div>
        <div class="d-flex flex-wrap homePageTextContainer">
          <div class="homePageText">
            <h1 class="display-3">National Fisheries Research & Development Institute Digital Repository</h1>
            <p class="lead">
              The National Fisheries Research and Development Institute, as mandated by RA 8550, is the primary research arm
              of the Bureau of Fisheries and Aquatic Resources. Its repository serves as the official open access platform
              for its research outputs and knowledge products.
            </p>
          </div>
      </div>
      </div>
    </div>
  </div>
  <picture class="background-image">
    <img alt="" [src]="'/assets/nfrdi/images/nfrdi-banner.png'"/><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
  </picture>
</div>
