<div class="background-image">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="spotlight">
        <h2 class="lead">National Fisheries Research & Development Institute Digital Repository</h2>
        <p>
          The National Fisheries Research and Development Institute, as mandated by RA 8550, is the primary research arm
          of the Bureau of Fisheries and Aquatic Resources. Its repository serves as the official open access platform
          for its research outputs and knowledge products.
        </p>
      </div>
    </div>
  </div>
</div>
