<ng-container *ngVar="(bitstreams$ | async) as bitstreams">
  <ds-metadata-field-wrapper *ngIf="bitstreams?.length > 0" [label]="label | translate">
    <div class="file-section">
      <div *ngFor="let file of bitstreams; let last=last;">
        <ds-file-download-link [bitstream]="file" [item]="item">
          <span *ngIf="file?.firstMetadataValue('dc.description'); else useFileName">{{file?.firstMetadataValue('dc.description')}}</span>
          <span *ngIf="primaryBitsreamId === file.id" class="badge badge-primary">{{ 'item.page.bitstreams.primary' | translate }}</span>
          <ng-template #useFileName>{{ dsoNameService.getName(file) }}</ng-template>
          <span> ({{(file?.sizeBytes) | dsFileSize }})</span>
        </ds-file-download-link>
        <div *ngIf="downloadCounterComponentMap[file.id] && (downloadCounterComponentMap[file.id]?.downloadCount | async) !== 0">
          <ds-bitstream-download-counter
            #downloadCounter
            [bitstream]="file"
            label="Downloads:">
          </ds-bitstream-download-counter>
        </div>
        <span *ngIf="!last" innerHTML="{{separator}}"></span>
      </div>
      <ds-loading *ngIf="isLoading" message="{{'loading.default' | translate}}" [showMessage]="false"></ds-loading>
      <div *ngIf="!isLastPage" class="mt-1" id="view-more">
        <button class="bitstream-view-more btn btn-outline-secondary btn-sm" (click)="getNextPage()">{{'item.page.bitstreams.view-more' | translate}}</button>
      </div>
      <div *ngIf="isLastPage && currentPage !== 1" class="mt-1" id="collapse">
        <button class="bitstream-collapse btn btn-outline-secondary btn-sm" (click)="currentPage = undefined; getNextPage();">{{'item.page.bitstreams.collapse' | translate}}</button>
      </div>
    </div>
  </ds-metadata-field-wrapper>
</ng-container>
