<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="homePageText">
        <div class="d-flex flex-wrap">
          <div>
            <h1 class="h1">UPV Digital Repository (UPV–DR)</h1>
            <h2 class="h2"><i>The official Institutional Repository of the University of the Philippines Visayas (UPV)</i></h2>
            <p class="lead"><b>UPV–DR</b> serves as the institutional repository and digital archives that preserves and
              provides access to UPV's academic outputs. It aims to facilitate wider dissemination, increased societal
              use, and enhanced visibility of UPV faculty members, staff, and students’ researches, creative works, and
              innovations. It aims to promote UPV’s scholarly and artistic works, enhance collaborations between the
              academe and the industry, and amplify extension work and public service.</p>
            <p class="lead"><b>UPV–DR</b> aims to preserve institutional records, permanent records, and university memories.
              It also aims to provide access to the intellectual outputs of UPV researchers, artists, and innovators,
              such as publications in journals, books, conference proceedings, theses and dissertations, and artistic
              works, among others. Access is generally unrestricted and is compliant with the Open Archives Initiative
              (OAI) protocol.</p>
            <p class="lead"><b>UPV–DR</b> is managed by the UP Visayas University Library.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <picture class="background-image">
    <img alt="" [src]="'assets/upv/images/upv-diuaa-banner.jpg'"/>
  </picture> -->
</div>
