:host {
  display: block;

  div.background-image-container {
    color: white;
    position: relative;
    background-image: url('/assets/upv/images/upv-dr-banner.png');
    background-size: cover;
    background-position: 50% 50%;

    /*.background-image > img {
      background-color: var(--bs-info);
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom;
    }*/

    .container {
      position: relative;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);

      &:before, &:after {
        content: '';
        display: block;
        width: var(--ds-banner-background-gradient-width);
        height: 100%;
        top: 0;
        position: absolute;
      }

      &:before {
        background: linear-gradient(to left, var(--ds-banner-text-background), transparent);
        left: calc(-1 * var(--ds-banner-background-gradient-width));

      }

      &:after {
        background: linear-gradient(to right, var(--ds-banner-text-background), transparent);
        right: calc(-1 * var(--ds-banner-background-gradient-width));
      }

      background-color: var(--ds-banner-text-background);
    }


    small.credits {
      a {
        color: inherit;
      }

      opacity: 0.3;
      position: absolute;
      right: var(--bs-spacer);
      bottom: 0;
    }
  }

  .jumbotron {
    background-color: transparent;
  }

  a {
    color: var(--ds-home-news-link-color);

    @include hover {
      color: var(--ds-home-news-link-hover-color);
    }
  }

.homePageText {
  position: relative;
  width: 79%;
  padding: 20px;
  background: rgba(123, 17, 19, 0.5);
  text-shadow: 1px 1px 4px rgba(0,0,0,.6);
  text-align: justify;
  color: white;
}

.homePageText::after {
  content: "";
  position: absolute;
  top: 0;
  right: -5vw; /* Adjust based on triangle width */
  width: 5vw;   /* Responsive triangle width */
  height: 100%;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"><polygon points="0,0 100,50 0,100" fill="rgba(123,17,19,0.5)" /></svg>') no-repeat;
  background-size: 100% 100%;
  pointer-events: none;
}

  p.lead {
  font-family: "Roboto", sans-serif;
  font-size: medium;
  }

  .lead > b {
  font-weight: 700;
  }

  h1.h1, h2.h2 {
  color: #f5b730;
  }

  h2.h2 {
  font-size: large;
  }

}
