<div class="home-news-content py-4 px-2 py-sm-5 px-sm-0 mt-ncs mb-4">
  <div class="container">
    <div class="d-flex flex-wrap">
      <div>
        <h1 class="display-2">iLAMPARA</h1>
        <p class="lead">Index to Libraries, Archives, Museums in the Philippines : Abstracts, Researches/Records, and Archives (iLAMPARA)</p>
        <p class="lead">Objectives:</p>
      </div>
    </div>
    <ol>
      <li>It aims to gather and index all publications, researches, theses, dissertations, news articles, records, and other documents related to Philippine librarianship, information science, records management, archival science and museulogy
      </li>
      <li>It also aims to gather and index materials about Philippine libraries, archives, and museums and those published, produced, and distributed by them
      </li>
      <li>Digitally archive open access materials on these fields</li>
      <li>Widely disseminate, increase visibilty and citations of researches on these field</li>
    </ol>
    <p>The repository is managed by the Philippine Librarians Association, Inc.- Western Visayas Region Librarians Council (PLAI-WVRLC), and West Visayas State University - College of Information and Communications Technology - Bachelor of Library and Information Science (WVSU-CICT-BLIS) Program.
    </p>
  </div>
</div>
