<div class="jumbotron jumbotron-fluid mt-ncs static-banner" [ngStyle]="{'background-image': 'linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(\'assets/unesco/images/home-news/banner1.webp\')'}">
  <div class="container">
    <div class="d-flex flex-wrap">
      <div>
        <h1 class="display-3">UNACOMODELI</h1>
        <p class="lead">UNESCO National Commission of the Philippines (UNACOM) Online and Digital Enabling Library and
          Index</p>
        <p>The UNESCO National Commission of the Philippines (UNACOM) Online and Digital Enabling Library and Index (UNACOMODELI) aims
          to support UNESCO’s core mission of building peace in the minds of the people through education, science,
          culture, and communication.
        </p>
        <p>The UNACOM Online and Digital Enabling Library and Index is developed to advance the mutual knowledge and
          understanding, and encourage cooperation among the nations in all branches of intellectual activity, such as
          the exchange of publications, objects of artistic and scientific interest, and other materials of information.
          UNACOMODELI will serve as UNACOM’s institutional memory and a source of
          high-quality information on UNACOM's intellectual activities (in education,
          natural sciences, social and human sciences, culture, and communication and information). The ultimate goal is
          to share knowledge and to transmit it to future generations.</p>
        <p>Particularly, it aims to:</p>
      </div>
    </div>
    <ul>
      <li>Provide online access to UNESCO National Commission of the Philippines (UNACOM) publications, documents, and other
        materials.
      </li>
      <li>Index and promote UNESCO National Commission of the Philippines (UNACOM)-sponsored and -collaborative publications, and
        national committee members' and partner agencies’ publications, reports, policies, laws, legislations, articles,
        and other materials.
      </li>
      <li>Gather and index materials in the country that support the UN Sustainable Development Goals, address the Ocean
        Decade challenges, and build capacity in the identification, inventorying, and safeguarding of intangible
        cultural heritage.
      </li>
    </ul>
    <p>The UNACOMODELI collections include UNESCO and UNESCO National Commission of the Philippines (UNACOM) publications, speeches,
      press releases, capacity building materials, UNESCO National Commission of the Philippines (UNACOM)-sponsored publications, and
      other publications of interest to UNESCO.</p>
  </div>
  <div class="photo-credit">
    📷 Credit:
    <ng-container *ngIf="bannerCredit?.link; else plainCredit">
      <a [href]="bannerCredit?.link" target="_blank" rel="noopener noreferrer">
        {{ bannerCredit?.credit }} 🔗
      </a>
    </ng-container>
    <ng-template #plainCredit>
      {{ bannerCredit?.credit }}
    </ng-template>
  </div>
</div>
