:host {
  display: block;
}

.display-3 {
  word-break: break-word;
}

.jumbotron {
  position: relative;
  height: auto; /* Adjust as needed for the banner height */
  color: white;
  padding: 4rem 2rem;
  overflow: hidden;
  background-color: var(--ds-home-news-background-color);
}

.static-banner {
  background-size: cover;
  background-position: center;
}

.container {
  position: relative;
  z-index: 2;
}

.display-3 {
  word-break: break-word;
  color: white; /* Ensures readability on the background image */
}

.photo-credit {
  position: absolute;
  bottom: 1rem;
  right: 1.5rem;
  font-size: 0.85rem;
  color: #ddd;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0.3rem 0.6rem;
  border-radius: 0.3rem;
  z-index: 2; /* Ensure it's above the background image */

  a {
    color: #ddd;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px dotted #bbb;
    transition: color 0.3s ease;

    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }
}

a {
  color: var(--ds-home-news-link-color);

  @include hover {
    color: var(--ds-home-news-link-hover-color);
  }
}
