<div class="jumbotron jumbotron-fluid mt-ncs static-banner" [ngStyle]="{'background-image': 'linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(\'assets/unesco/images/home-news/banner1.webp\')'}">
  <div class="container">
    <div class="d-flex flex-wrap">
      <div>
        <h1 class="display-3">UNACOMODELI</h1>
        <p class="lead">UNESCO-Philippine National Commission (UNACOM) Online and Digital Enabling Library and Index</p>
        <p>The UNESCO-Philippine National Commission Online and Digital Enabling Library and Index (UNACOMODELI) aims to disseminate its publications, reports, and policies and also promote the works of its national committee members.</p>
        <p>Initially, the UNACOM Online and Digital Enabling Library and Index is developed to support the alignment of research, investments, and community initiatives toward contributing to a well-functioning, productive, resilient, sustainable, and inspiring ocean. The goal is to enable the government, partner agencies, and UNESCO to develop more robust Science-Informed Policies and facilitate a stronger Science-Policy Interface through the gathered data, information, and knowledge related to the Ocean Decade in the Philippines.</p>
        <p>Particularly, it aims to:</p>
      </div>
    </div>
    <ul>
      <li>Gather and index all publications, reports, policies, laws, legislations, articles, and other documents of the Philippine National Committee on Marine Sciences (NCMS) related to the Ocean Decade
      </li>
      <li>Disseminate and promote these publications, reports, policies, and other documents on the initiatives and actions to address the Ocean Decade challenge
      </li>
    </ul>
  </div>
  <div class="photo-credit">
    📷 Credit:
    <ng-container *ngIf="bannerCredit?.link; else plainCredit">
      <a [href]="bannerCredit?.link" target="_blank" rel="noopener noreferrer">
        {{ bannerCredit?.credit }} 🔗
      </a>
    </ng-container>
    <ng-template #plainCredit>
      {{ bannerCredit?.credit }}
    </ng-template>
  </div>
</div>
