<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="homePageText">
        <div class="d-flex flex-wrap">
          <div>
            <h1 class="display-3">Lakasa ti Sirib</h1>
            <p class="lead">The Official Institutional Repository of Don Mariano Marcos Memorial State University (DMMMSU)</p>
          </div>
        </div>
        <p>Objectives: </p>
        <ul>
          <li>Promote and provide access to the intellectual properties of DMMMSU and support its aim to become a
            globally competitive university that transforms human resources with appropriate competencies
          </li>
          <li>Preserve the products of scholarly and creative works from the university's instruction, research, and
            extension programs
          </li>
          <li>Disseminate and share the DMMMSU knowledge, research, innovations, and technologies for increased
            visibility, utilization, and citation
          </li>
        </ul>
      </div>
    </div>
  </div>
  <picture class="background-image">
    <img alt="" [src]="'assets/dmmmsu/images/dmmmsu-building.png'"/><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
  </picture>
  <!-- <small class="credits">Photo by <a href="https://www.pexels.com/@inspiredimages">&#64;inspiredimages</a></small> -->
</div>
