// Add any global css for the theme here

// imports the base global style
@import '../../../styles/_global-styles.scss';
.nav-breadcrumb {
  z-index: 1 !important;
}
body.modal-open-noscroll {
  overflow: hidden;
  padding-right: var(--scrollbar-width);
  margin-right: 0 !important; /* Add this line */
}
